@media (max-width: 1000px) {
	.overflowHidden {
		overflow: hidden;
	    margin-left: 0;
	}
	.header {
		&__wrap {
			padding: 6px 15px; 
		}

		&__tel-container a {
			font-size: 22px;
		}

		&__nav-wrap {
			padding: 0 15px; 
		}

		&__tel-container:hover &__tel-description {
			display: none;
		}

		&__tel-description {
			display: none;
		}
	}

	.intro {
		&__wrap {
			padding: 0 15px; 
		}
	}

	.about {
		&__wrap {
			padding: 55px 15px; 
		}

		&__info-container span {
			font-size: 60px;
		}

		&__info-container p {
			font-size: 20px;
		}
	}

	.reviews {
		&__title-container {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__title h1 {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.breadcrumbs {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.payment {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.product {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__slider {
			width: 655px;
		}

		&__goods {
			width: 600px;
		}
	}

	.facts {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.modal {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__container {
			flex-direction: column;
			align-items: center;
		}

		&__slider {
			width: 90%;
		}

		&__close {
			margin-right: -4px;
		}

		&__title {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 28px;
		}

		&__title--big {
			width: 100%;
		}

		&__title p {
			margin-bottom: 3px;
			padding-right: 15px;
		}

		&__info {
			margin-left: 0;
			margin-top: 25px;
			width: 90%;
			flex-direction: row;
		}

		&__notif {
			text-align: right;
		}

		&__order-form input {
			text-align: right;
		}

		&__btn-submit {
			margin-left: auto;
		}

		&__table {
			width: auto;
		}

		&__col-1 {
			width: auto;
		}

		&__col-2 {
			width: auto;
		}
		
		&__col-3 {
			width: auto;
		}

		&__col-4 {
			width: auto;
		}

		&__col-article {
			width: auto;
		}

		&__slider--big {
			width: 100%;
		}
	}

	.objects {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
			flex-direction: column;
			align-items: center;
		}

		&__description-wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__btn svg {
			height: 40px;
		}

		&__control {
			width: 40px;
		}
	}

	.works {
		&__main-title {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.basket {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__received p {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__table {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.summary {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.contact-input {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__fields input {
			width: auto;
		}

		&__field-content label {
			width: 225px;
		}
	}

	.contacts {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		h1 {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__country-container {
			padding-left: 15px;
			padding-right: 15px;
			flex-direction: column;
			align-items: center;
		}

		&__places {
			flex-direction: column;
			align-items: center;
			width: auto;
		}

		&__sub-title {
			text-align: center;
		}

		&__content {
			min-width: 271px;
		}

		&__content--center {
			margin-left: 0;
		}

		&__mobile {
			width: 220px;
		}
	}

	.catalog {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.catalog-list {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__content {
			flex-wrap: wrap;
		}

		&__content a {
			width: 241px;
			margin: 0 auto;
		}

		&__link {
			width: 49%;
		}
	} 

	.footer {
		&__wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__telephone-container {
			width: 27%;
		}

		&__telephone-container a {
			font-size: 28px;
		}
	}
}

@media (max-width: 886px) {
	.works {
		&__wrap {
			flex-direction: column;
		}

		&__img-bigger  {
			width: 100%;
		}

		&__img-smaller {
			width: 100%;
		}
	}

	.product {
		&__about {
			flex-direction: column;
			align-items: center;
		}

		&__info {
			margin-left: 0;
			margin-top: 25px;
			width: auto;
		}

		&__slider {
			margin: 0 auto;
			margin-top: 53px;
		}

		&__goods {
			margin: 0 auto;
			margin-bottom: 55px;
		}
	}

	.basket {
		&__table tr {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__col-1 {
			width: 49%;
			order: 1;
			margin-left: 0;
		}

		&__col-2 {
			width: 49%;
			text-align: right;
			align-self: flex-end;
			order: 2;
		}

		&__col-3 {
			width: 49%;
			padding-top: 20px;
			order: 3;
		}

		&__col-4 {
			width: 49%;
			text-align: right;
			padding-top: 20px;
			order: 4;
		}

		&__col-5 {
			width: 49%;
			padding-left: 0;
			padding-top: 20px;
			order: 6;
			text-align: right;
		}

		&__col-6 {
			width: 49%;
			padding-top: 20px;
			order: 5;
		}

		&__col-gray a {
			margin-left: 0;
		}

	}

	.summary {
		&__table {
			width: auto;
		}

		&__span-3 {
			text-align: right;
			width: auto;
		}
	}

	.footer {
		&__wrap {
			flex-direction: column;
			text-align: center;
		}

		&__social-container span {
			display: block;
			margin-bottom: 60px;
			margin-top: 20px;
			color: #424242;
		}

		&__social-logos {
			justify-content: space-around;
		}

		&__social-container {
			width: 290px;
			margin: 0 auto;
			margin-bottom: 40px;
			justify-content: space-around;
		}

		&__social-container a {
			margin-bottom: 20px;
		}

		&__social-container p {
			display: block;
			margin: 0 auto;
		}

		&__telephone-container {
			width: 250px;
			margin: 0 auto;
			margin-bottom: 40px;
		}

		&__telephone-container a {
			margin-bottom: 5px;
		}

		&__addres-container {
			width: 99%;
			margin: 0 auto;
		}

		&__telephone-container p {
			text-align: left;
			margin-left: 10px;
		}

		&__info--mobile {
			display: block;
			display: flex;
			flex-direction: column;
			margin-right: 10px;
		}

		&__social-container p {
			display: none;
		}

		&__text-mobile {
			display: none;
		}

		&__developer {
			margin: 0 auto;
			width: 100%;
			align-items: baseline;
			justify-content: space-around;
			flex-direction: row;
		}

		&__social-container {
			order: 2;
			-webkit-order: 2;
		}

		&__telephone-container {
			order: 1;
			-webkit-order: 1;
		}

		&__addres-container {
			order: 3;
			-webkit-order: 3;
		}

		&__developer span {
			width: 75px;
			text-align: left;
		}

		&__info--mobile p {
			font-size: 14px;
			color: #bdbdbd;
			margin-bottom: 0;
			text-align: left;
		}

		&__developer-logo--mobile {
			display: flex;
			flex-direction: row;
		}
	}
}

@media (min-width: 1400px) {
	.works {
		&__img {
			height: 480px;
		}
	}
}

@media (min-width: 1920px) {
	.works {
		&__img {
			height: 600px;
		}
	}
}


@media (max-width: 960px) {
	.header {
		
		&__cart {
			width: 32px;
		}
	}

	.works {
		&__img-bigger  {
			width: 50%;
		}

		&__img-smaller {
			width: 50%;
		}
	}

	.reviews {
		&__content {
			margin-bottom: 20px;
		}
	}

	.payment {
		&__content {
			width: 80%;
		}
	}

	.catalog {
		&__filter {
			flex-wrap: wrap;
		}

		&__material {
			width: 49%;
		}

		&__colors {
			width: 49%;
			align-items: flex-end;
			margin-left: 0;
			margin-bottom: 25px;
		}

		&__country {
			width: 49%;
			margin-bottom: 25px;
		}

		&__condition {
			width: 49%;
		}

		&__content-condition {
			justify-content: flex-end;
		}

		&__status {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		&__country {
			margin-left: 0;
		}
	}
}


@media (max-width: 800px) {
	.header {

		&__logo-container {
			width: 25%;
		}
	}

	.about {
		&__info-container span {
			font-size: 50px;
		}

		&__info-container p {
			font-size: 18px;
		}

		&__link {
			width: 290px;
		}
	}

	.reviews {
		&__link {
			width: 300px;
		}

		&__full-content {
			flex-direction: column;
			align-items: center;
		}

		&__images {
			width: 100%;
		}
	}

	.modal {
		&__slider {
			width: 97%;
		}

		&__info {
			width: 97%;
		}

		&__title {
			width: 97%;
		}
	}
}

@media (max-width: 760px) {
	.intro-content {
		height: auto;
		overflow: auto;
	}

	.header {
		&__nav-wrap {
			margin-top: 25vh;
		}

		&__nav-left {
			font-size: 20px;
		}

		&__nav-left  {
			margin-top: 0;
		}

		&__nav-left a {
			width: auto;
		}

		&__nav-middle {
			margin-top: 0;
		}

		&__nav-right {
			margin-top: 0;
		}

	}

	.intro {
		height: auto;
		&__list-container ul {
			width: 100%;
			position: relative;
		}

		&__list-container {
			height: auto;
			margin-top: auto;
			padding-top: 235px;
		}

		&__title-container {
			position: relative;
			margin-top: 0;
			padding-top: 300px;
		}
	}

	.about {
		position: static;
	}

	.payment {
		&__content {
			width: 95%;
		}
	}

	.breadcrumbs {
		&__wrap {
			flex-direction: column;
			align-items: flex-start;
		}

		&__wrap a {
			position: relative;
			margin-bottom: 5px;
			&::before {
				position: absolute;
				content: ">";
				right: -10px;
			}
		}

		&__wrap span {
			display: none;
		}
	}

	.contact-input {
		&__fields {
			flex-direction: column;
		}

		&__fields input {
			width: 60%;
			margin: 0 auto;
			margin-bottom: 15px;
		}

		&__fields input:last-child {
			margin-bottom: 0;
		}

		&__field-content {
			margin-bottom: 40px;
			text-align: center;
		}

		&__field-content label {
			width: 60%;
			left: 50%;
			transform: translate(-50%, 0);
		}

		&__title p {
			text-align: center;
		}
	}

	.objects {
		&__big {
			height: calc(~'100vh - 149px');
		}
	}
}


@media (max-width: 740px) {
	.header {
		&__cart {
			display: none;
		}

		&__desktop-logo {
			display: none;
		}

		&__mobile-logo {
			display: block;
			width: 34px;
			height: 34px;
		}

		&__tel-container {
			margin-right: 25px;
		}

		&__burger {
			margin-top: 0;
		}

		&__logo-container {
			width: 30%;
		}

		#nav-icon3 {
			margin-top: 0;
		}
	}

	.intro {
		&__title-container h1 {
			width: auto;
		}
	}

	.about {
		&__info-container {
			flex-wrap: wrap;
			flex-direction: column;
		}

		&__text {
			width: auto;
		}

		&__info-content {
			width: auto;
			margin-bottom: 25px;
			align-self: center;
		}

		&__info-container span {
			font-size: 56px;
		}

		&__info-container p {
			font-size: 20px;
		}

		&__info-content--middle {
			margin-bottom: 25px;
		}

		&__info-content {
			align-self: flex-start;
			width: 300px;
		}

		&__info-content--middle {
			order: 1;
			-webkit-order: 1;
			width: 370px;
		}

		&__info-content--middle span {
			width: 210px;
		}

		&__info-container span {
			font-size: 60px;
		}

		&__info-container p {
			font-size: 20px;
			width: 70px;
		}

		&__info-content--middle p {
			width: auto;
		}
	}

	.product {
		&__slider {
			width: auto;
		}

		&__goods {
			width: auto;
		}

		&__goods tbody {
			width: 100%;
			display: table;
		}

		&__col-1 {
			display: table-cell;
		}

		&__col-3 {
			width: 25.99%;
		}

		&__col-2 {
			width: 20%;
		}

		&__col-4 {
			width: auto;
		}

		&__col-5 {
			width: 5%;
		}
	}
}

@media (max-width: 668px) {

	.intro {
		&__list-container a {
			font-size: 16px;
		}
	}

	.product {
		&__slider img {
			width: 70px;
		}

		&__btn {
			top: 20px;
		}
	}

}

@media (max-width: 600px) {
	.header {
		&__nav-left {
			font-size: 20px;
		}

	}

	.intro {

		&__list-container li {
			margin-bottom: 15px;
		}


		&__list-container ul {
			margin-bottom: 35px;
		}
	}

	.basket {
		&__received p {
			font-size: 20px;
		}
	}
}

@media (max-width: 594px) {
	.header {
		&__tel-container a {
			font-size: 18px;		
		}


		&__logo-container {
			width: 30%;
		}

		&__nav-left {
			font-size: 18px;
		}

		&__nav-left a {
			line-height: 40px;
		}

		&__nav-middle {
			font-size: 18px;
		}

		&__nav-middle a {
			line-height: 40px;
		}


		&__nav-right {
			font-size: 18px;
		}

		&__nav-right a {
			line-height: 40px;
		}

	}	
}

@media (max-width: 567px)  {
	.intro {
		&__list-container ul {
			flex-direction: column;
			margin-bottom: 10px;
		}
	}

	.header {
		&__nav-wrap {
			flex-wrap: wrap;
			flex-direction: column;
			margin-top: auto;
		}

		&__nav-left {
			font-size: 18px;
			width: 100%;
			margin-top: 30px;
			text-align: center;
		}

		&__nav-left a {
			line-height: 30px;
		}

		&__nav-middle {
			width: 100%;
			margin-top: 30px;
			text-align: center;
		}

		&__nav-middle a {
			line-height: 30px;
		}

		&__nav-right {
			width: 100%;
			margin-top: 30px;
			text-align: center;
		}

		&__nav-right a {
			line-height: 30px;
		}
	}

	.modal {
		&__info {
			width: auto;
			flex-direction: column;
		}

		&__notif {
			text-align: center;
		}

		&__icons {
			justify-content: space-between;
		}

		&__info-title {
			text-align: center;
		}

		&__order-form {
			margin-top: 50px;
		}

		&__price {
			justify-content: space-around;
		}

		&__order-form input {
			text-align: center;
		}

		&__btn-submit {
			margin: 0 auto;
		}

		&__table tbody {
			display: flex;
			flex-direction: column;
		}

		&__table tr {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;
		}

		&__table td {
			padding-bottom: 5px;
		}

		&__col-1 {
			width: 49%;
			text-align: left;
		}

		&__col-2 {
			width: 49%;
		}
		
		&__col-3 {
			width: 49%;
			text-align: right;
		}

		&__col-4 {
			width: 99%;
			text-align: right;
		}

		&__col-article {
			width: 49%;
			text-align: right;
		}
	}
}

@media (max-width: 555px) {
	.header {
		&__nav-wrap {
			justify-content: space-between;
		}

		&__nav-left {
			font-size: 16px;
		}

		&__nav-middle {
			font-size: 16px;
		}

		&__tel-container:hover &__tel-description {
			font-size: 36px;
		}

		&__nav-right {
			font-size: 16px;
		}

		&__logo-container {
			width: 45%;
		}

	}

	.intro {
		&__title-container {
			padding-top: 170px;
		}

		&__list-container {
			padding-top: 150px;
		}
	}

	.objects {
		&__content {
			width: 95%;
		}

		&__content p {
			padding: 15px 10px;
		}

		&__content img {
			width: 100%;
		}

		&__description h1 {
			font-size: 30px;
		}

		&__btn svg {
			height: 25px;
		}

		&__control {
			width: 25px;
		}
	}

	.summary {
		&__table {
			flex-direction: column;
			align-items: flex-end;
		}

		&__span-1 {
			text-align: right;
			margin-bottom: 10px;
		}

		&__span-2 {
			margin-bottom: 10px;
		}

		&__span-3 {
			margin-bottom: 10px;
		}
	}

	.contact-input {
		&__fields input{
			width: 80%;
		}
	}

	.catalog {
		&__filter {
			flex-direction: column;
			flex-wrap: nowrap;
		}

		&__material {
			margin-bottom: 25px;
		}

		&__colors {
			width: 100%;
			align-items: flex-start;
		}

		&__country {
			width: 100%;
			margin-bottom: 25px;
		}

		&__condition {
			width: 100%;
			margin-bottom: 25px;
		}

		&__content-condition {
			justify-content: flex-start;
		}

		&__status {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}
	}

	.catalog-list {

		&__content {
			flex-direction: column;
			align-items: center;
		}

		&__link {
			width: 100%;
		}
	} 
}

@media (max-width: 450px) {
	.header {
		&__tel-container {
			font-size: 16px;
		}

		&__logo-container {
			width: 45%;
		}

		&__cart {
			width: 38px;
		}
	}

	.about {

		&__info-content {
			align-self: flex-start;
			width: 300px;
		}

		&__info-content--middle {
			order: 1;
			-webkit-order: 1;
			width: 300px;
		}

		&__info-content--middle span {
			width: 155px;
		}

		&__info-container span {
			font-size: 50px;
		}

		&__info-container p {
			font-size: 18px;
			width: 70px;
		}

		&__info-content--middle p {
			width: 100px;
		}
	}	

	.works {

		&__description-content {
			left: 15px;
		}

		&__wrap p {
			font-size: 27px;
			width: 100%;
		}

		&__description span {
			font-size: 14px;
			width: 83%;
		}
	}

	.reviews {
		&__btn {
			display: none;
		}
	}	

	.basket {
		&__col-1 {
			width: 99%;
		}

		&__col-2 {
			width: 99%;
			text-align: center;
		}

		&__col-info {
			width: auto;
		}
	}

	.footer {

		&__developer {
			margin: 0 auto;
			width: 100%;
			align-items: baseline;
		}

		&__social-container {
			order: 2;
			-webkit-order: 2;
		}

		&__telephone-container {
			order: 1;
			-webkit-order: 1;
		}

		&__addres-container {
			order: 3;
			-webkit-order: 3;
		}

		&__developer span {
			width: 75px;
			text-align: left;
		}

		&__info--mobile p {
			font-size: 14px;
			color: #bdbdbd;
			margin-bottom: 0;
			text-align: left;
		}

		&__developer-logo--mobile {
			margin-left: 0;
			display: flex;
		}
	}
}

@media (max-width: 420px) {
	.header {
		&__nav-left {
			font-size: 16px;
			width: 100%;
			margin-top: 20px;
			text-align: center;
		}


		&__nav-middle {
			font-size: 16px;
			width: 100%;
			margin-top: 15px;
			text-align: center;
		}

		&__nav-right {
			font-size: 16px;
			width: 100%;
			margin-top: 15px;
			text-align: center;
		}

	}

	.intro {
		&__title-container h1  {
			margin-top: -55px;
		}
	}
}

@media (max-width: 380px) {
	.header {

		&__tel-container a {
			font-size: 14px;
		}
	}
	.intro {
		&__title-container h1  {
			font-size: 30px;
		}
	}
}

@media (max-width: 370px) {
	.header {

		&__logo-container {
			width: 50%;
		}
	}	

	.about {
		&__info-content {
			margin-left: 0;
		}

	}

	.works {
		&__description &__text--absolute-mobile {
			top: 125px;
		}
	}

	.reviews {
		&__content svg {
			width: 310px;
			left: 0;
		}

		&__content {
			width: 310px;
		}

		&__images {
			margin-top: 0px;
		}

		&__images:first-child {
			margin-top: 50px;
		}
	}

	.product {
		&__wrap {
			padding-left: 8px;
			padding-right: 8px;
		}


		&__goods td {
			font-size: 13px;
		}

		&__btn--next {
			right: -8px;
		}
	}

	.objects {
		&__big {
			overflow: hidden;
		}

		&__description h1 {
			font-size: 24px;
		}

		&__btn svg {
			height: 18px;
		}

		&__control {
			width: 12px;
		}

		&__control--left {
			left: -5px;
		}
	}

	.footer {
		&__info--mobile p{
			font-size: 12px;
		}

		&__developer-logo--mobile span{
			font-size: 12px;
			width: 62px;
		}
	}
}